<form [formGroup]="cursoForm">
    <div>
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Autor</mat-label>
            <input matInput formControlName="author">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
<div>
    <mat-form-field>
        <mat-label>Data de lançamento do Curso</mat-label>
        <input matInput [matDatepicker]="picker"formControlName="published_date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
</div>

    <div>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput type="number" placeholder="0" formControlName="price">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Quantidade em estoque</mat-label>
            <input matInput type="number" formControlName="totalInStock">
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" (click)="submitForm()">Enviar</button>
</form>